/.vs
/X64
/out/CMakeFiles/
/out/D-type/CMakeFiles/
/out/D-type/D-type.dir/
/out/D-type/Debug/
/out/D-type/cmake_install.cmake
/out
#FILES 
*.sln
*.vcxproj
*.vcxproj.filters
*.user
CMakeCache.txt
cmake_install.cmake